﻿@include export-module('schedule-layout') {
  /*! schedule component layout */

  #{&}.e-schedule {
    display: block;
    outline: medium none;
    overflow: hidden;
    user-select: none;

    .e-schedule-toolbar {
      background: $schedule-tbar-default-bg;
      border: 0;
      border-bottom: $schedule-tbar-border-bottom-size;
      box-shadow: $schedule-tbar-box-shadow;
      margin-bottom: $schedule-tbar-box-shadow-bottom-margin;
      min-height: $schedule-tbar-min-height;

      @if ($schedule-skin == 'bootstrap') {
        border-radius: 0;
      }

      .e-active-view {
        .e-tbar-btn-text,
        .e-icons {
          color: $schedule-active-font-color;
        }
      }

      .e-toolbar-pop {
        background: $schedule-tbar-default-bg;
      }

      .e-tbar-btn {
        @if $schedule-skin != 'bootstrap4' {
          background: $schedule-tbar-default-bg;
        }

        @if $schedule-skin == 'highcontrast' {
          border-color:  $schedule-tbar-default-bg;
        }

        &:hover,
        &:focus {
          background-color: $schedule-tbar-hover-bg;

          @if $schedule-skin == 'highcontrast' {
            border-color:  $schedule-tbar-border-hover-color;
          }

          @if $schedule-skin == 'bootstrap4' {
            border-color:  $schedule-tbar-border-hover-color;
          }
        }

        &:active {
          background: $schedule-select-bg-color;

          @if $schedule-skin == 'bootstrap4' {
            background: $schedule-tbar-hover-bg;
            border-color:  $schedule-tbar-border-hover-color;
          }
        }
      }

      .e-tbar-btn .e-tbar-btn-text {
        cursor: pointer;
        font-size: $schedule-content-nrml-font-size;
        text-transform: $schedule-content-nrml-font-text-transform;
      }

      .e-toolbar-items {
        background: $schedule-tbar-default-bg;

        &.e-tbar-pos {
          height: $schedule-tbar-min-height;
          min-height: $schedule-tbar-min-height;
        }

        &.e-tbar-pos > div {
          height: inherit;
        }

        .e-tbar-btn.e-btn {
          &.e-tbtn-txt {
            .e-icons.e-icon-right.e-btn-icon.e-icon-down-arrow {
              font-size: $schedule-tbar-down-arrow-font-size;
              padding-top: $schedule-tbar-down-arrow-padding-top;
            }
          }
        }

        .e-toolbar-left {
          .e-tbar-btn.e-icon-btn {
            &:hover {
              background: $schedule-header-hover-color;
              border-radius: $schedule-header-hover-border-radius;
            }

            &:focus {
              background: $schedule-header-hover-color;
              border-radius: $schedule-header-hover-border-radius;
            }
          }
        }

        .e-toolbar-item {
          &.e-day .e-icon-day,
          &.e-week .e-icon-week,
          &.e-work-week .e-icon-workweek,
          &.e-month .e-icon-month,
          &.e-agenda .e-icon-agenda,
          &.e-month-agenda .e-icon-month-agenda,
          &.e-timeline-day .e-icon-timeline-day,
          &.e-timeline-week .e-icon-timeline-week,
          &.e-timeline-work-week .e-icon-timeline-workweek,
          &.e-timeline-month .e-icon-timeline-month,
          &.e-add .e-tbar-btn-text,
          &.e-today .e-icon-day,
          &.e-today .e-icon-today + .e-tbar-btn-text {
            display: none;
          }

          &.e-hidden {
            display: none;
          }

          &.e-prev .e-icon-prev,
          &.e-next .e-icon-next {
            font-size: $schedule-date-navigation-font-size;
          }

          &.e-separator {
            border-right: $schedule-tbar-separator-size $border-type $schedule-tbar-separator-border;
          }

          &.e-date-range .e-tbar-btn .e-tbar-btn-text {
            font-size: $schedule-header-nrml-font-size;
            text-transform: initial;
          }

          .e-tbar-btn .e-tbar-btn-text {
            cursor: pointer;
            font-size: $schedule-content-nrml-font-size;
            text-transform: $schedule-content-nrml-font-text-transform;
          }
        }
      }

      &.e-rtl .e-hor-nav {
        background: $schedule-tbar-default-bg;
        border-left: 0;
        border-right: $border-size $schedule-tbar-border-nav-type $schedule-tbar-border-nav;

        &:not(.e-hor-nav.e-nav-active):hover {
          background-color: $schedule-tbar-hover-bg;
          color: $schedule-tbar-hover-font;
        }
      }

      .e-hor-nav  {
        @if $schedule-skin != 'bootstrap4' {
          background: $schedule-tbar-default-bg;
        }

        border-left: $border-size $schedule-tbar-border-nav-type $schedule-tbar-border-nav;

        &::after {
          @include tbar-btn-animation;
        }

        &:active {
          color: $schedule-tbar-hover-font;

          &::after {
            @include tbar-btn-animation-after;
          }
        }

        &:hover {
          background: $schedule-tbar-hover-bg;
          color: $schedule-tbar-hover-font;
        }

        &:focus {
          background: $schedule-tbar-hover-bg;
          color: $schedule-tbar-hover-font;
        }
      }
    }

    &.e-device {
      .e-schedule-toolbar {
        height: $schedule-tbar-bgr-size;
        min-height: $schedule-tbar-bgr-size;

        .e-toolbar-items .e-toolbar-left .e-tbar-btn.e-icon-btn {
          &:hover,
          &:focus {
            height: calc(100% - 20px);
          }
        }

        .e-toolbar-items {
          &.e-tbar-pos {
            height: $schedule-tbar-bgr-size;
            min-height: $schedule-tbar-bgr-size;
          }

          &.e-tbar-pos > div {
            height: inherit;
          }
        }

        .e-tbar-btn .e-tbar-btn-text {
          font-size: $schedule-content-bgr-font-size;
        }

        .e-date-range .e-tbar-btn .e-tbar-btn-text {
          font-size: $schedule-header-device-font-size;
        }
      }
    }

    .e-schedule-resource-toolbar {
      background: $schedule-tbar-default-bg;
      border-bottom: $schedule-tbar-border-bottom-size;
      box-shadow: $schedule-tbar-box-shadow;
      display: flex;
      margin-bottom: $schedule-tbar-box-shadow-bottom-margin;
      min-height: $schedule-tbar-min-height;
      padding: 10px;

      .e-resource-menu {
        .e-icon-menu {
          color: $schedule-icon-color;
          font-size: 14px;
          padding: 7px;
          padding-left: 4px;
        }

        &.e-disable {
          display: none;
        }
      }

      .e-resource-level-title {
        display: flex;

        .e-resource-name {
          font-size: 14px;
          padding: 5px;

          @if ($schedule-skin == 'highcontrast') {
            color: $schedule-tree-content-color;
          }

          &:not(:last-child) {
            opacity: .6;
          }
        }

        .e-icon-next {
          color: $schedule-icon-color;
          font-size: 10px;
          line-height: 18px;
          opacity: .4;
          padding: 5px;
        }
      }

      &.e-popup-close {
        display: none;
      }

      &.e-popup-open {
        display: block;
      }
    }

    .e-text-ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .e-text-center {
      text-align: center;
    }

    .e-table-container {
      display: inline-flex;
      position: relative;
      vertical-align: top;

      &.e-translate {
        transition: transform .3s ease 0s;
      }
    }

    .e-resource-tree-popup {
      background: $schedule-tree-bg-color;
      box-shadow: 0 3px 4px .2px $schedule-more-indicator-shadow-color;
      height: 100%;
      position: absolute;
      width: 250px;

      .e-resource-tree {
        height: 100%;
        overflow-y: auto;
      }

      .e-resource-tree.e-treeview .e-text-content {
        padding: 0 0 0 12px;
      }
    }

    .e-resource-tree-popup-overlay {
      &.e-enable {
        background-color: $schedule-popup-overlay-bg-color;
        height: 100%;
        left: 0;
        opacity: .5;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .e-more-popup-wrapper {
      background-color: $schedule-popup-bg-color;
      border: 1px solid $schedule-popup-border-color;
      border-radius: 2px;
      box-shadow: 0 10px 10px 0 $schedule-more-indicator-shadow-color;
      opacity: 1;
      padding: $schedule-more-popup-padding;
      width: 225px;

      @if ($schedule-skin == 'bootstrap4') {
        border-radius: 6px;
        box-shadow: none;
      }

      .e-more-appointment-wrapper {
        margin: 0 4px;
      }

      .e-more-event-popup {
        height: 100%;
        position: relative;
        width: 100%;
      }

      .e-more-event-header {
        height: 35px;
        margin: 0 8px 4px 14px;
      }

      .e-more-event-content {
        height: calc(100% - 35px);
        max-height: 300px;
        overflow-y: auto;
        padding-left: 10px;
        padding-right: 10px;

        @if ($schedule-skin == 'bootstrap4') {
          padding: 10px 10px 0;
        }

        .e-appointment-border {
          border: 0;
          box-shadow: $schedule-event-box-shadow-1, $schedule-event-box-shadow-2, $schedule-event-box-shadow-3;
        }
      }

      .e-more-event-date-header {
        height: 100%;
        width: calc(100% - 25px);

        .e-current-date {
          color: $schedule-active-font-color;
        }
      }

      .e-header-day {
        color: $schedule-primary-content-font-color;
        font-size: $schedule-date-header-wrap-nrml-font-size;
        line-height: 1;
        padding-bottom: $schedule-more-appointment-margin-bottom;
      }

      .e-header-date {
        color: $schedule-primary-content-font-color;
        font-size: $schedule-header-date-nrml-font-size;
        line-height: 1;
        max-width: 15%;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }

        &:focus {
          text-decoration: underline;
        }
      }

      .e-more-event-close {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        color: $schedule-popup-icon-color;
        cursor: pointer;
        height: 25px;
        position: absolute;
        right: 6px;
        width: 25px;

        .e-close-icon {
          font-size: 9px;
          @if ($schedule-skin == 'bootstrap4') {
            font-size: 14px;
            opacity: .5;
          }
        }

        .e-btn-icon {
          margin-top: $schedule-more-popup-close-margin-top;
        }

        &:focus,
        &:hover {
          @if ($schedule-skin != 'bootstrap4') {
            background-color: $schedule-popup-icon-hover-bg-color;
          }
          border-radius: 50%;
          color: $schedule-popup-icon-hover-color;
          @if ($schedule-skin == 'bootstrap4') {
            color: $schedule-popup-header-icon-color;
            opacity: .75;
          }
        }
      }

      .e-appointment {
        background: $schedule-appointment-bg-color;
        border-radius: $schedule-appointment-border-radius;
        color: $schedule-appointment-font-color;
        display: flex;
        height: $schedule-month-appointment-height;
        line-height: $schedule-appointment-text-line-height;
        margin-bottom: $schedule-more-appointment-margin-bottom;
        padding: 2px 0;
        width: 100%;

        .e-subject {
          color: $schedule-appointment-font-color;
          flex: auto;
          font-size: 13px;
          font-weight: 500;
          overflow: hidden;
          padding: 0 2px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .e-recurrence-icon,
        .e-recurrence-edit-icon {
          line-height: $schedule-month-appointment-height;
          padding: 0 2px;
        }

        &:focus {
          border: 1px solid $schedule-appointment-active-border-color;
        }
      }
    }

    .e-new-event {
      background-color: $schedule-appointment-bg-color;
      border: 1px solid $schedule-appointment-font-color;
      border-radius: 5px;
      height: 100%;
      opacity: .9;
      position: relative;
      width: 100%;
      z-index: 1;

      .e-title {
        color: $schedule-appointment-font-color;
        font-size: 12px;
        line-height: 1.2;
        margin: 0;
        overflow-wrap: break-word;
        padding: 3px;
        position: absolute;
        text-align: left;
        white-space: normal;
        word-wrap: break-word;
      }
    }

    .e-month-view .e-new-event {
      height: calc(100% - 25px);
    }

    &.e-rtl {
      .e-more-popup-wrapper {

        @if ($schedule-skin == 'bootstrap4') {
          .e-header-date {
            padding-right: 10px;
          }

          .e-header-day {
            padding-right: 10px;
          }
        }

        .e-more-event-close {
          left: 6px;
          right: auto;
        }
      }
    }

    .e-schedule-table {
      border: 0 none;
      border-collapse: separate;
      border-spacing: 0;
      margin: 0;
      table-layout: fixed;
      width: 100%;
    }

    .e-schedule-table>tbody>tr>th,
    .e-schedule-table>tbody>tr>td {
      box-sizing: border-box;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .e-outer-table>tbody>tr>td {
      padding: 0;
      vertical-align: top;
    }

    .e-content-wrap {
      position: relative;

      .e-day-wrapper {
        width: 100%;
      }
    }

    .e-content-wrap,
    .e-scroll-container {
      -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
      overflow: auto;
    }

    .e-hide-childs > * {
      display: none;
    }

    .e-recurrence-icon,
    .e-recurrence-edit-icon {
      font-size: $schedule-recurrence-font-size;
    }

    .e-left-icon,
    .e-right-icon {
      font-size: 8px;
    }

    .e-m-date {
      cursor: pointer;
      font-size: 20px;

      &:hover {
        text-decoration: underline;
      }
    }

    .e-m-day {
      font-size: 12px;
    }

    &.e-device {
      .e-m-date {
        &:hover {
          text-decoration: none;
        }
      }
    }

    .e-block-appointment {
      background: $schedule-block-appointment-bg-color;
      @if ($schedule-skin != 'bootstrap4') {
        border-radius: $schedule-appointment-border-radius;
      }
      color: $schedule-block-appointment-font-color;
      cursor: default;
      overflow: hidden;
      position: absolute;

      .e-subject {
        overflow: hidden;
        overflow-wrap: break-word;
        padding: 4px;
        white-space: normal;
        word-wrap: break-word;
      }
    }

    .e-block-indicator {
      color: $schedule-block-appointment-font-color;
      float: right;
      padding: 0 6px;
      z-index: 1;
    }

    &.e-rtl .e-block-indicator {
      float: left;
    }

    .e-month-view .e-block-indicator {
      margin-top: -20px;
    }

    .e-timeline-view .e-block-indicator,
    .e-timeline-month-view .e-block-indicator {
      position: absolute;
      top: 3px;
    }

    .e-appointment {
      opacity: 1;
      transition: opacity 100ms linear;

      &.e-event-action {
        opacity: .4;
      }
    }

    .e-read-only {
      opacity: .8;
    }

    &.e-event-action .e-appointment:not(.e-schedule-event-clone),
    &.e-event-action .e-block-appointment {
      pointer-events: none;
    }

    &.e-event-action .e-drag-clone,
    &.e-event-action .e-timeline-view .e-drag-clone {
      cursor: move;

      .e-top-handler,
      .e-bottom-handler {
        pointer-events: none;
      }
    }

    &.e-event-action .e-vertical-view .e-appointment-wrapper .e-resize-clone {
      cursor: ns-resize;
    }

    &.e-event-action .e-timeline-view .e-resize-clone,
    &.e-event-action .e-timeline-month-view .e-resize-clone,
    &.e-event-action .e-all-day-appointment-wrapper .e-resize-clone {
      cursor: ew-resize;
    }

    &.e-device {
      .e-appointment {
        overflow: hidden;
      }

      .e-appointment.e-appointment-border {
        .e-top-bottom-resize {
          height: 10px;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
          width: 100%;
        }

        .e-left-right-resize {
          border-radius: 50%;
          height: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 10px;
        }

        .e-top-handler .e-top-bottom-resize {
          margin-top: -8px;
        }

        .e-bottom-handler .e-top-bottom-resize {
          margin-top: 8px;
        }

        .e-left-handler .e-left-right-resize {
          margin-left: -8px;
        }

        .e-right-handler .e-left-right-resize {
          margin-left: 8px;
        }
      }
    }

    .e-event-resize {
      position: absolute;

      &.e-left-handler,
      &.e-right-handler {
        height: 100%;
        width: 10px;
      }

      &.e-left-handler {
        cursor: ew-resize;
        float: left;
        left: 0;
      }

      &.e-right-handler {
        cursor: e-resize;
        float: right;
        right: 0;
      }

      &.e-top-handler,
      &.e-bottom-handler {
        height: 10px;
        width: 100%;
      }

      &.e-top-handler {
        cursor: ns-resize;
        top: 0;
      }

      &.e-bottom-handler {
        bottom: 0;
        cursor: ns-resize;
      }
    }

    .e-vertical-view {
      &.e-timescale-disable {
        .e-content-table,
        .e-content-wrap {
          height: 100%;
        }

        .e-appointment {
          background: $schedule-appointment-bg-color;
          border: 1px solid $schedule-appointment-border-color;
          border-radius: $schedule-appointment-border-radius;
          color: $schedule-appointment-font-color;
          display: flex;
          height: $schedule-timescale-appointment-height;
          margin-bottom: 2px;
          overflow: hidden;
          position: absolute;

          .e-appointment-details {
            display: flex;
            flex: auto;
            padding: 2px 4px 0 2px;
            text-align: left;
          }

          .e-inner-wrap {
            flex: auto;
            overflow: hidden;
          }

          .e-subject {
            font-size: 13px;
            font-weight: 500;
            line-height: 1.2;
            margin-left: auto;
            min-height: 18px;
            overflow: hidden;
            overflow-wrap: break-word;
            padding-top: 1px;
            white-space: normal;
            word-wrap: break-word;
          }

          .e-time,
          .e-location {
            font-size: 11px;
            overflow: hidden;
            padding-top: 1px;
            text-overflow: ellipsis;
          }

          .e-disable {
            display: none;
          }

          .e-recurrence-icon,
          .e-recurrence-edit-icon {
            line-height: $schedule-timescale-appointment-height;
            padding: 0 5px;
          }

          .e-left-icon,
          .e-right-icon {
            line-height: $schedule-timescale-appointment-height;
            padding: 0 2px;
          }

          &.e-appointment-border,
          &:focus {
            border: 0;
            box-shadow: $schedule-event-box-shadow-1, $schedule-event-box-shadow-2, $schedule-event-box-shadow-3;
          }
        }

        .e-appointment-wrapper {
          position: absolute;
          width: 0;
        }

        .e-work-cells {
          height: auto;
          vertical-align: top;
        }

        .e-more-indicator {
          color: $schedule-secondary-content-font-color;
          cursor: pointer;
          font-size: $schedule-more-indicator-nrml-font-size;
          line-height: 11px;
          overflow: hidden;
          padding: 2px 4px;
          position: absolute;
          text-overflow: ellipsis;

          &:focus {
            text-decoration: underline;
          }
        }
      }

      .e-left-indent {
        width: $schedule-time-scale-width;

        .e-all-day-cells {
          position: relative;
        }
      }

      .e-date-header-wrap table col,
      .e-content-wrap table col {
        width: $schedule-header-cells-width;
      }

      .e-resource-cells {
        color: $schedule-primary-content-font-color;
        font-size: $schedule-header-day-nrml-font-size;
        height: 40px;
        padding: 8px;
        padding-left: 15px;
      }

      .e-header-cells {
        font-size: 12px;
        height: $schedule-header-cells-height;
        padding: $schedule-header-cells-padding;

        .e-header-day {
          display: table;
          font-size: $schedule-header-day-nrml-font-size;
          @if ($schedule-skin == 'bootstrap4') {
            line-height: 17px;
            padding-bottom: 4px;
          }
        }

        .e-header-date {
          cursor: pointer;
          display: table;
          font-size: $schedule-header-date-nrml-font-size;
          @if ($schedule-skin == 'bootstrap4') {
            line-height: 21px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .e-row-count-wrapper {
        display: block;
        height: 100%;
        pointer-events: none;
        position: relative;

        .e-more-indicator {
          bottom: 0;
          color: $schedule-secondary-content-font-color;
          cursor: pointer;
          overflow: hidden;
          overflow-wrap: normal;
          padding: 2px 4px;
          pointer-events: visible;
          position: absolute;
          text-overflow: ellipsis;
          width: 100%;

          &:focus {
            text-decoration: underline;
          }
        }

        &.e-disable {
          display: none;
        }
      }

      .e-all-day-appointment-section {
        bottom: 4px;
        color: $schedule-tbar-default-icon-color;
        cursor: pointer;
        display: block;
        font-size: 11px;
        height: 25px;
        left: 0;
        line-height: 25px;
        margin: 0 auto;
        position: absolute;
        right: 0;
        transform: rotate(0deg);
        transition: transform 300ms ease-in-out;
        width: 25px;

        &.e-disable {
          display: none;
        }

        &.e-appointment-expand {
          transform: rotate(0deg);
        }

        &.e-appointment-collapse {
          transform: rotate(180deg);
        }

        &:hover,
        &:focus {
          background: $schedule-header-hover-color;
          border-radius: 100%;
          @if ($schedule-skin == 'bootstrap4') {
            color: $white;
          }
        }
      }

      .e-appointment-hide {
        opacity: 0;
      }

      .e-all-day-cells {
        height: $schedule-allday-cells-height;
        padding: 0;
        text-align: center;
        vertical-align: top;
      }

      .e-all-day-cells:first-child {
        &.e-animate {
          transition: 250ms ease-out;
        }
      }

      .e-time-cells-wrap table td,
      .e-work-cells {
        font-size: $schedule-time-scale-nrml-font-size;
        height: $schedule-work-cells-height;
        text-align: center;
      }

      .e-work-cells {
        width: $schedule-work-cells-width;
       }

      .e-current-time {
        font-size: $schedule-current-time-nrml-font-size;
      }

      .e-clone-time-indicator,
      .e-current-time,
      .e-previous-timeline,
      .e-current-timeline {
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 100%;
      }

      .e-previous-timeline,
      .e-current-timeline {
        z-index: 1;
      }

      .e-date-header-wrap,
      .e-time-cells-wrap {
        overflow: hidden;
      }

      .e-content-wrap,
      .e-time-cells-wrap {
        position: relative;
      }

      .e-timeline-wrapper,
      .e-day-wrapper,
      .e-all-day-appointment-wrapper {
        height: 0;
        margin: 0;
        padding: 0;
        position: relative;
      }

      .e-all-day-appointment-wrapper .e-appointment:not(.e-schedule-event-clone) {
        cursor: default;
      }

      .e-all-day-appointment-wrapper .e-appointment {
        background: $schedule-appointment-bg-color;
        border: 1px solid $schedule-appointment-border-color;
        border-radius: $schedule-appointment-border-radius;
        color: $schedule-appointment-font-color;
        display: flex;
        height: $schedule-month-appointment-height;
        overflow: hidden;
        position: absolute;

        .e-appointment-details {
          display: flex;
          flex: auto;
          line-height: $schedule-month-appointment-text-line-height;
          overflow: hidden;
          padding: 1px 0 1px 4px;

          .e-subject {
            flex: auto;
            font-size: 13px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .e-time {
            display: block;
            font-size: 11px;
            padding: 1px 4px 2px 0;
          }

          .e-recurrence-icon,
          .e-recurrence-edit-icon,
          .e-left-icon,
          .e-right-icon {
            line-height: $schedule-appointment-text-line-height;
            padding: 0 2px;
          }
        }

        .e-disable {
          display: none;
        }

        &.e-appointment-border,
        &:focus {
          border: 0;
          box-shadow: $schedule-event-box-shadow-1, $schedule-event-box-shadow-2, $schedule-event-box-shadow-3;
        }
      }

      .e-day-wrapper .e-appointment:not(.e-schedule-event-clone) {
        cursor: default;
      }

      .e-day-wrapper .e-appointment {
        background: $schedule-appointment-bg-color;
        border: 1px solid $schedule-appointment-border-color;
        border-radius: $schedule-appointment-border-radius;
        color: $schedule-appointment-font-color;
        overflow: hidden;
        position: absolute;

        .e-appointment-details {
          flex: auto;
          padding: $schedule-appointment-details-padding;
          text-align: left;
          @if ($schedule-skin == 'bootstrap4') {
            line-height: $schedule-appointment-text-line-height;
          }
        }

        .e-subject {
          font-size: 13px;
          font-weight: 500;
          line-height: 1.2;
          margin-left: auto;
          min-height: 18px;
          overflow: hidden;
          overflow-wrap: break-word;
          padding-top: 4px;
          white-space: normal;
          word-wrap: break-word;
        }

        .e-time,
        .e-location {
          font-size: 11px;
          overflow: hidden;
          padding-top: 1px;
          text-overflow: ellipsis;
        }

        .e-time {
          display: block;
        }

        .e-disable {
          display: none;
        }

        .e-recurrence-icon,
        .e-recurrence-edit-icon {
          bottom: 5px;
          display: block;
          float: right;
          height: auto;
          left: auto;
          position: absolute;
          right: 5px;
          width: auto;
        }

        .e-indicator {
          display: block;
          margin: 0 45%;
        }

        .e-up-icon,
        .e-down-icon {
          font-size: 8px;
        }

        .e-up-icon {
          margin-top: 3px;
          top: 0;
        }

        .e-down-icon {
          bottom: 6px;
          position: absolute;
        }

        &.e-appointment-border,
        &:focus {
          border: 0;
          box-shadow: $schedule-event-box-shadow-1, $schedule-event-box-shadow-2, $schedule-event-box-shadow-3;
        }
      }

      &.e-day-view .e-header-date {
        cursor: default;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &.e-device {
      .e-vertical-view {
        .e-header-cells {
          .e-header-day {
            font-size: $schedule-header-day-device-font-size;
          }

          .e-header-date {
            font-size: $schedule-header-date-device-font-size;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .e-left-indent {
          width: $schedule-device-time-scale-width;
        }

        .e-clone-time-indicator,
        .e-current-time {
          font-size: 9px;
        }

        .e-time-cells-wrap {
          float: left;
          width: $schedule-device-time-scale-width;

          table td {
            font-size: $schedule-time-scale-device-font-size;
          }
        }

        .e-day-wrapper .e-appointment .e-subject {
          font-weight: 500;
          min-height: auto;
        }
      }
    }

    &.e-rtl {
      text-align: right;

      .e-vertical-view {
        &.e-timescale-disable .e-appointment-details {
          text-align: right;
        }
        @if ($schedule-skin == 'bootstrap4') {
          .e-header-cells {
            padding: 8px 8px 8px 0;
          }
        }

        .e-all-day-appointment-wrapper .e-appointment .e-appointment-details {
          padding: 1px 4px 1px 0;
        }

        .e-day-wrapper .e-appointment {
          .e-appointment-details {
            line-height: 15px;
            text-align: right;
          }

          .e-subject {
            font-weight: 500;
            margin-left: 15px;
            margin-right: auto;
          }

          .e-recurrence-icon,
          .e-recurrence-edit-icon {
            float: left;
            left: 5px;
            right: auto;
          }
        }
      }

      &.e-device {
        .e-vertical-view .e-time-cells-wrap {
          float: right;
        }
       }
    }

    @media screen and (max-width: 480px) {
      .e-vertical-view {
        .e-left-indent {
          width: $schedule-device-time-scale-width;
        }
       }
    }

    .e-month-view,
    .e-month-agenda-view {
      .e-left-indent {
        border-right: $border-size $border-type $schedule-content-border-color;
        width: 36px;
      }

      .e-week-number-wrapper {
        overflow: hidden;
        position: relative;

        .e-schedule-table {
          height: 100%;
        }

        .e-week-number {
          color: $schedule-secondary-content-font-color;
          padding-top: 4px;
          text-align: center;
          vertical-align: top;
          width: 36px;
        }
      }
    }

    .e-month-view {
      .e-content-wrap table tr:last-child td {
        border-bottom-width: 0;
      }

      .e-date-header-wrap {
        font-size: $schedule-date-header-wrap-nrml-font-size;
        overflow: hidden;
      }

      .e-week-number {
        border-bottom: $border-size $border-type $schedule-content-border-color;
        border-right: $border-size $border-type $schedule-content-border-color;
        height: 70px;
      }

      .e-content-wrap {
        display: flex;
        font-size: $schedule-date-header-wrap-nrml-font-size;
      }

      .e-date-header-wrap table col {
        width: $schedule-header-cells-width;
      }

      .e-resource-cells {
        color: $schedule-primary-content-font-color;
        font-size: $schedule-date-header-wrap-nrml-font-size;
        height: 40px;
        padding: 8px;
        padding-left: 15px;
      }

      .e-header-cells {
        cursor: default;
        font-weight: 400;
        height: $schedule-month-header-cells-nrml-height;
        padding: 3px;
        @if ($schedule-skin == 'bootstrap4') {
          padding: 8px 0 8px 8px;
        }
      }

      .e-content-table {
        height: 100%;
      }

      .e-work-cells {
        height: 70px;
        vertical-align: top;
        width: $schedule-work-cells-width;

        &.e-disable-date {
          .e-date-header {
            visibility: hidden;
          }
        }
      }

      .e-date-header {
        cursor: pointer;
        display: table;
        height: 20px;
        line-height: $schedule-date-header-line-height;
        margin: $schedule-date-header-margin;
        text-align: center;

        &:hover {
          text-decoration: underline;
        }
      }

      .e-appointment-wrapper {
        position: absolute;
      }

      .e-appointment {
        background: $schedule-appointment-bg-color;
        border: 1px solid $schedule-appointment-border-color;
        border-radius: $schedule-appointment-border-radius;
        color: $schedule-appointment-font-color;
        cursor: default;
        display: flex;
        height: $schedule-month-appointment-height;
        overflow: hidden;
        position: absolute;

        .e-disable {
          display: none;
        }

        .e-appointment-details {
          display: flex;
          flex: auto;
          line-height: $schedule-month-appointment-text-line-height;
          overflow: hidden;

          .e-subject {
            flex: auto;
            font-size: 13px;
            font-weight: 500;
            overflow: hidden;
            padding: $schedule-month-appointment-subject-padding;
            text-overflow: ellipsis;
          }

          .e-time {
            font-size: 11px;
            padding: $schedule-month-appointment-time-padding;
          }

          .e-recurrence-icon,
          .e-recurrence-edit-icon,
          .e-left-icon,
          .e-right-icon {
            line-height: $schedule-month-appointment-height;
            padding: 0 2px;
          }
        }

        &.e-appointment-border,
        &:focus {
          border: 0;
          box-shadow: $schedule-event-box-shadow-1, $schedule-event-box-shadow-2, $schedule-event-box-shadow-3;
        }

        .e-subject {
          padding: 2px;
          width: 100%;
        }
      }

      .e-more-indicator {
        color: $schedule-secondary-content-font-color;
        cursor: pointer;
        font-size: $schedule-more-indicator-nrml-font-size;
        line-height: 11px;
        overflow: hidden;
        padding: 2px 4px;
        position: absolute;
        text-overflow: ellipsis;

        &:focus {
          text-decoration: underline;
        }
      }
    }

    &.e-rtl {
      .e-month-view {
        @if ($schedule-skin == 'bootstrap4') {
          .e-date-header {
            margin: 8px 8px 0 0;
          }
        }

        .e-left-indent {
          border-left: $border-size $border-type $schedule-content-border-color;
          border-right-width: 0;
        }

        .e-week-number {
          border-left: $border-size $border-type $schedule-content-border-color;
          border-right-width: 0;
        }
      }
    }

    .e-timeline-view,
    .e-timeline-month-view {
      .e-content-wrap,
      .e-content-table {
        height: 100%;
      }

      .e-date-header-wrap {
        font-size: $schedule-date-header-wrap-nrml-font-size;
        overflow: hidden;
        position: relative;
      }

      .e-event-table {
        position: absolute;
        top: 0;
      }

      .e-date-header-wrap table col,
      .e-content-wrap table col {
        width: $schedule-timeline-work-cells-width;
      }

      .e-date-header-wrap table tbody td {
        height: $schedule-timeline-header-cells-height;
        overflow: hidden;
        padding: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        @if ($schedule-skin == 'bootstrap4') {
          padding: 8px 0 8px 8px;
        }
      }

      .e-date-header-wrap table tbody td.e-time-slots {
        overflow: inherit;
      }

      .e-date-header-wrap table tbody td > span {
        position: relative;
      }

      .e-navigate {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }

        &:focus {
          text-decoration: underline;
        }
      }

      .e-work-cells {
        height: $schedule-timeline-work-cells-height;
      }

      .e-resource-text {
        color: $schedule-primary-content-font-color;
        font-size: 13px;
        overflow: hidden;
        padding: 0 15px;
        text-overflow: ellipsis;
        @if ($schedule-skin == 'bootstrap4') {
          padding: 0 12px;
        }
      }

      .e-resource-left-td {
        background-color: $schedule-header-bg-color;
        border-color: $schedule-header-border-color;
        border-style: $border-type;
        border-width: 0 1px 1px 0;
        color: $schedule-header-font-color;
        vertical-align: middle;
        width: $schedule-timeline-resources-width;
      }

      .e-resource-cells {
        background-color: $schedule-work-cells-bg-color;
        border-color: $schedule-content-border-color;
        border-style: $border-type;
        border-width: 0 1px 1px 0;
        color: $schedule-primary-content-font-color;
        height: $schedule-timeline-work-cells-height;
        padding-left: 15px;
        padding-right: 0;
        vertical-align: middle;
        @if ($schedule-skin == 'bootstrap4') {
          padding-left: 12px;
        }
      }

      .e-resource-column-wrap {
        overflow: hidden;
        position: relative;
      }

      .e-resource-column-table {
        height: 100%;
      }

      .e-auto-height {
        height: auto;
      }

      .e-resource-tree-icon {
        color: $schedule-icon-color;
        cursor: pointer;
        float: left;
        font-family: 'e-icons';
        font-size: 12px;
      }

      .e-resource-collapse {
        transform: rotate(90deg);
      }

      .e-child-node {
        background-color: $schedule-workhour-bg-color;
      }

      .e-appointment-wrapper {
        position: absolute;
      }

      .e-appointment {
        background: $schedule-appointment-bg-color;
        border: 1px solid $schedule-appointment-border-color;
        border-radius: $schedule-appointment-border-radius;
        color: $schedule-appointment-font-color;
        cursor: default;
        display: flex;
        height: $schedule-timeline-appointment-height;
        overflow: hidden;
        position: absolute;

        .e-appointment-details {
          display: flex;
          flex: auto;
          overflow: hidden;
          padding: 0 4px;

          .e-inner-wrap {
            flex: auto;
            overflow: hidden;
          }
        }

        .e-subject {
          font-size: 13px;
          font-weight: 500;
          line-height: 1.2;
          margin-left: auto;
          min-height: 18px;
          overflow: hidden;
          padding-top: 4px;
          text-overflow: ellipsis;
        }

        .e-time,
        .e-location {
          font-size: 11px;
          overflow: hidden;
          padding-top: 1px;
          text-overflow: ellipsis;
        }

        .e-time {
          display: block;
        }

        .e-disable {
          display: none;
        }

        .e-recurrence-icon,
        .e-recurrence-edit-icon {
          line-height: $schedule-timeline-appointment-height;
          padding: 0 5px;
        }

        .e-indicator {
          display: block;
        }

        .e-left-icon,
        .e-right-icon {
          font-size: 10px;
          line-height: $schedule-timeline-appointment-height;
          padding-right: 7px;
        }

        .e-right-icon {
          padding-right: 5px;
        }

        &.e-appointment-border,
        &:focus {
          border: 0;
          box-shadow: $schedule-event-box-shadow-1, $schedule-event-box-shadow-2, $schedule-event-box-shadow-3;
        }
      }

      .e-more-indicator {
        color: $schedule-secondary-content-font-color;
        cursor: pointer;
        font-size: $schedule-more-indicator-nrml-font-size;
        line-height: 11px;
        overflow: hidden;
        padding: 2px 4px;
        position: absolute;
        text-overflow: ellipsis;

        &:focus {
          text-decoration: underline;
        }
      }
    }

    .e-timeline-view {
      .e-navigate {
        font-size: $schedule-date-header-wrap-nrml-font-size;
      }

      .e-clone-time-indicator,
      .e-current-time {
        bottom: 0;
        position: absolute;
      }

      .e-current-timeline {
        position: absolute;
        top: 0;
      }
    }

    .e-timeline-month-view {
      .e-date-header-wrap table col,
      .e-content-wrap table col {
        width: $schedule-timeline-month-cells-width;
      }
    }

    .e-virtual-scroll {
      .e-content-table {
        position: absolute;
        transform: translateY(0);
      }

      .e-content-wrap {
        &.e-transition {
          transition: all 1000ms linear; // sass-lint:disable-line no-transition-all
        }
      }
    }

    &.e-rtl {
      .e-timeline-view,
      .e-timeline-month-view {
        .e-appointment {
          .e-left-icon,
          .e-right-icon {
            padding: 0 0 0 5px;
          }
        }

        .e-resource-left-td {
          border-width: 0 0 1px 1px;
        }

        .e-resource-cells {
          border-width: 0 0 1px 1px;
          padding-right: 15px;
        }

        .e-resource-tree-icon {
          float: right;
        }

        .e-appointment.e-schedule-event-clone .e-appointment-details .e-inner-wrap {
          text-align: right;
        }
      }
    }

    &.e-device {
      .e-month-view,
      .e-timeline-view,
      .e-timeline-month-view {
        .e-date-header-wrap {
          font-size: $schedule-date-header-wrap-device-font-size;
        }

        .e-date-header-wrap td {
          border-left-width: 0;
          border-right-width: 0;
        }

        .e-content-wrap {
          font-size: $schedule-content-device-font-size;
        }

        .e-date-header {
          &:hover {
            text-decoration: none;
          }
        }

        .e-more-indicator {
          font-size: 12px;
        }

        .e-navigate {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .e-month-agenda-view {
      .e-schedule-resource-toolbar {
        .e-resource-menu {
          margin-top: 6px;

          &.e-disable {
            display: none;
          }
        }

        .e-resource-level-title .e-icon-next {
          margin-top: 4px;
        }
      }

      .e-week-number-wrapper .e-week-number {
        border-right: $border-size $border-type $schedule-content-border-color;
        padding-top: 8px;
      }

      .e-wrapper-container {
        position: relative;
      }

      .e-week-number-wrapper .e-schedule-table,
      .e-content-table {
        border-bottom: $schedule-month-agenda-border;
        box-shadow: $schedule-box-shadow;
      }

      .e-resource-column {
        border-bottom: $border-size $border-type $schedule-content-border-color;
        border-right: $border-size $border-type $schedule-content-border-color;
        vertical-align: top;
        width: 75px;
      }

      .e-resource-name {
        color: $schedule-primary-content-font-color;
        font-size: $schedule-date-header-wrap-device-font-size;
        line-height: 26px;
        overflow: hidden;
        padding: 8px;
        text-overflow: ellipsis;
      }

      .e-day-padding {
        padding-left: 8px;
      }

      .e-day-border {
        border-bottom: $border-size $border-type $schedule-content-border-color;
      }

      .e-date-header-wrap {
        font-size: $schedule-date-header-wrap-device-font-size;
        overflow: hidden;
      }

      .e-content-wrap {
        font-size: $schedule-date-header-wrap-nrml-font-size;
      }

      .e-header-cells {
        cursor: default;
        font-weight: 400;
        height: $schedule-month-header-cells-nrml-height;
        padding: 5px;
        text-align: center;
      }

      .e-work-cells {
        height: 40px;
        position: relative;
        vertical-align: top;
      }

      .e-date-header {
        height: 24px;
        line-height: 24.5px;
        margin: 4px auto 0;
        text-align: center;
        width: 24px;
      }

      .e-appointment-container {
        min-height: 40px;
      }

      .e-appointment-wrap {
        background-color: $schedule-agenda-color;
        overflow: auto;
        padding: 0 8px;
      }

      .e-appointment {
        border-left: 3px solid $schedule-appointment-bg-color;
        border-right: 0;
        cursor: default;
        padding: 0 8px;

        &:hover {
          background: $schedule-hover-bg-color;
        }

        &.e-appointment-border,
        &:focus {
          background: $schedule-select-bg-color;
        }
      }

      .e-subject-wrap {
        display: flex;
      }

      .e-subject {
        color: $schedule-primary-content-font-color;
        font-size: 14px;
        line-height: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .e-recurrence-icon,
      .e-recurrence-edit-icon {
        color: $schedule-secondary-content-font-color;
        line-height: 26px;
        padding: 0 10px;
       }

      .e-date-time {
        color: $schedule-secondary-content-font-color;
        font-size: 12px;
        line-height: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .e-location {
        color: $schedule-secondary-content-font-color;
        font-size: 12px;
        line-height: 26px;
        overflow: hidden;
        padding-left: 8px;
        text-overflow: ellipsis;
      }

      .e-no-event {
        color: $schedule-secondary-content-font-color;
        cursor: default;
        font-size: 14px;
        height: 100%;
        padding: 8px 4px;
      }

      .e-agenda-item.e-month-agenda-view {
        padding: 10px 0;
      }

      .e-agenda-parent.e-month-agenda-view {
        margin: 0;
        padding: 0;
      }

      .e-appointment-indicator {
        background: $schedule-appointment-bg-color;
        border-radius: 50%;
        height: 6px;
        left: 0;
        margin: 1px auto;
        width: 6px;
      }
    }

    &.e-rtl {
      .e-month-agenda-view {
        .e-left-indent {
          border-left: $border-size $border-type $schedule-content-border-color;
          border-right-width: 0;
        }

        .e-week-number {
          border-left: $border-size $border-type $schedule-content-border-color;
          border-right-width: 0;
        }

        .e-appointment {
          border-left: 0;
          border-right: 3px solid $schedule-appointment-bg-color;
        }

        .e-resource-column {
          border-bottom: $border-size $border-type $schedule-content-border-color;
          border-left: $border-size $border-type $schedule-content-border-color;
          border-right: 0;
          vertical-align: top;
          width: 75px;
        }

        .e-day-padding {
          padding-right: 8px;
        }
      }
    }

    &.e-device {
      .e-month-agenda-view {
        .e-date-header-wrap {
          font-size: $schedule-date-header-wrap-device-font-size;
        }

        .e-content-wrap {
          font-size: $schedule-content-device-font-size;
        }
      }
    }

    .e-agenda-view {
      background-color: $schedule-agenda-color;

      .e-content-wrap table td:first-child,
      .e-date-column {
        vertical-align: top;
        width: 75px;
      }

      .e-resource-column {
        border-bottom: $border-size $border-type $schedule-content-border-color;
        border-right: $border-size $border-type $schedule-content-border-color;
        color: $schedule-header-font-color;
        vertical-align: top;
        width: 75px;
      }

      .e-month-header {
        background: $schedule-appointment-bg-color;
        height: 100px;
        padding-top: 12px;
        vertical-align: top;

        .e-date-header {
          color: $schedule-appointment-font-color;
          font-size: 18px;
        }
      }

      .e-day-date-header {
        color: $schedule-header-font-color;
        cursor: default;
        padding: $schedule-agenda-date-header-padding;

        .e-m-date {
          font-size: $schedule-header-date-nrml-font-size;
        }

        .e-m-day {
          font-size: $schedule-header-day-nrml-font-size;
        }

        &.e-current-day {
          color: $schedule-active-font-color;
        }
      }

      .e-day-border {
        border-bottom: $border-size $border-type $schedule-content-border-color;
      }

      .e-date-border {
        border-bottom: $border-size $border-type $schedule-content-border-color;
        border-right: $border-size $border-type $schedule-content-border-color;
      }

      .e-day-padding {
        padding-left: 8px;
      }

      .e-date-header {
        font-size: 20px;
      }

      .e-day-header {
        font-size: 12px;
      }

      .e-subject-wrap {
        display: flex;
        @if ($schedule-skin == 'bootstrap4') {
          margin-bottom: 6px;
        }
      }

      .e-active-appointment-agenda {
        .e-subject {
          color: $schedule-select-font-color;
        }

        .e-date-time {
          color: $schedule-select-font-color;
        }

        .e-resource-name {
          color: $schedule-select-font-color;
        }

        .e-recurrence-icon,
        .e-recurrence-edit-icon {
          color: $schedule-select-font-color;
        }

        .e-location {
          color: $schedule-select-font-color;
        }
      }

      .e-subject {
        color: $schedule-primary-content-font-color;
        font-size: 14px;
        line-height: 23px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .e-resource-name {
        color: $schedule-primary-content-font-color;
        font-size: $schedule-header-day-nrml-font-size;
        line-height: 26px;
        overflow: hidden;
        padding: 8px;
        text-overflow: ellipsis;
      }

      .e-recurrence-icon,
      .e-recurrence-edit-icon {
        color: $schedule-primary-content-font-color;
        line-height: 21px;
        padding: 0 10px;
       }

      .e-date-time {
        color: $schedule-secondary-content-font-color;
        font-size: 12px;
        line-height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .e-location {
        color: $schedule-secondary-content-font-color;
        font-size: 12px;
        line-height: 23px;
        overflow: hidden;
        padding-left: 8px;
        text-overflow: ellipsis;
      }

      .e-agenda-item {
        padding: $schedule-agenda-item-padding;
      }

      .e-agenda-parent {
        margin: 0;
        padding: 0;
      }

      .e-appointment {
        border-left: 3px solid $schedule-appointment-bg-color;
        border-right: 0;
        cursor: default;
        padding: $schedule-agenda-appointment-padding;

        &:hover {
          background: $schedule-hover-bg-color;
        }

        &.e-appointment-border,
        &:focus {
          background: $schedule-select-bg-color;
        }

        &.e-template {
          display: inline-flex;
          flex-direction: row-reverse;
        }
      }

      .e-no-event {
        color: $schedule-secondary-content-font-color;
        cursor: default;
        font-size: 14px;
        line-height: 52px;
        padding: 0 11px;
      }

      .e-empty-event {
        color: $schedule-secondary-content-font-color;
        cursor: default;
        font-size: 14px;
        line-height: 52px;
        padding: 0 11px;
      }
    }

    &.e-device {
      .e-agenda-view,
      .e-month-agenda-view {
        .e-m-date {
          font-size: $schedule-header-date-device-font-size;
        }

        .e-resource-name,
        .e-m-day {
          color: $schedule-primary-content-font-color;
          font-size: $schedule-header-day-device-font-size;
        }
      }
    }

    &.e-rtl {
      .e-agenda-view {
        .e-appointment {
          border-left: 0;
          border-right: 3px solid $schedule-appointment-bg-color;
        }

        .e-resource-column {
          border-bottom: $border-size $border-type $schedule-content-border-color;
          border-left: $border-size $border-type $schedule-content-border-color;
          border-right: 0;
          vertical-align: top;
          width: 75px;
        }

        .e-day-padding {
          padding-right: 8px;
        }

        .e-date-border {
          border-bottom: $border-size $border-type $schedule-content-border-color;
          border-left: $border-size $border-type $schedule-content-border-color;
          border-right: 0;
        }
      }
    }
  }

  .e-schedule.e-read-only .e-tbar-btn.e-btn .e-icons.e-btn-icon.e-icon-add {
    display: none;
  }

  .e-bigger #{&}.e-schedule,
  .e-bigger#{&}.e-schedule {
    .e-schedule-toolbar {
      height: $schedule-tbar-bgr-size;
      min-height: $schedule-tbar-bgr-size;

      .e-tbar-btn .e-tbar-btn-text {
        font-size: $schedule-content-bgr-font-size;
      }

      .e-toolbar-item.e-date-range .e-tbar-btn-text {
        font-size: $schedule-header-bgr-font-size;
      }

      .e-icon-down-arrow {
        font-size: $schedule-tbar-down-arrow-font-size;
      }

      .e-schedule .e-toolbar .e-hor-nav {
        min-height: $schedule-tbar-bgr-items-size;
        min-width: $schedule-tbar-nav-bgr-width;
        z-index: 0;
      }

      .e-toolbar-item {
        .e-tbar-btn-text {
          line-height: inherit;
        }
      }

      .e-toolbar-items {
        min-height: $schedule-tbar-bgr-items-size;

        .e-toolbar-item {
          min-height: $schedule-tbar-bgr-items-size;

          &:not(.e-separator) {
            min-width: $schedule-tbar-bgr-item-size;
          }

          &.e-separator {
            height: $schedule-tbar-separator-bgr-height;
            margin: $schedule-tbar-separator-bgr-mrgn;
            min-height: $schedule-tbar-separator-bgr-minheight;
          }

          .e-icons {
            min-width: $schedule-tbar-btn-icon-bgr-width;
          }

          button.e-btn,
          .e-tbar-btn.e-btn.e-control {
            height: auto;
            line-height: 25px;
            margin: $schedule-tbar-btn-bgr-mrgn;
            min-height: $schedule-tbar-btn-bgr-minheight;
            min-width: $schedule-tbar-btn-bgr-minwidth;
            padding: $schedule-tbar-btn-bgr-padding;

            &.e-tbtn-txt {
              .e-icons {
                padding: $schedule-tbar-btn-icn-bgr-padding;
              }

              .e-icons.e-icon-right {
                padding: $schedule-tbar-btn-icn-right-bgr-padding;
              }
            }

            .e-btn-icon {
              height: 25px;
            }
           }
         }
       }
    }

    .e-more-popup-wrapper {
      .e-header-day {
        font-size: $schedule-header-day-bgr-font-size;
      }
    }

    .e-vertical-view {
      .e-header-cells {
        .e-header-day {
          font-size: $schedule-header-day-bgr-font-size;
        }

        .e-header-date {
          font-size: $schedule-header-date-bgr-font-size;
        }
      }

      .e-resource-cells {
        font-size: $schedule-header-day-bgr-font-size;
      }

      .e-time-cells-wrap table td {
        font-size: $schedule-time-scale-bgr-font-size;
      }

      .e-clone-time-indicator,
      .e-current-time {
        font-size: $schedule-current-time-bgr-font-size;
      }
    }

    &.e-device {
      .e-vertical-view {
        .e-time-cells-wrap table td {
          font-size: $schedule-time-scale-device-font-size;
        }

        .e-clone-time-indicator,
        .e-current-time {
          font-size: $schedule-current-time-bgr-device-font-size;
        }
      }
    }

    @if ($schedule-skin == 'bootstrap4') {
      &.e-rtl {
        .e-month-view,
        .e-month-agenda-view {
          .e-date-header {
            margin: 8px 8px 0 0;
          }
        }
      }
    }

    .e-month-view {
      .e-date-header {
        @if ($schedule-skin == 'bootstrap4') {
          line-height: 24px;
          margin: 8px 0 0 8px;
          }
      }

      .e-header-cells {
        @if ($schedule-skin == 'bootstrap4') {
          line-height: 24px;
          padding: 10px 0 10px 8px;
        }
        height: $schedule-month-header-cells-bgr-height;
      }

      .e-resource-cells,
      .e-date-header-wrap {
        font-size: $schedule-date-month-header-wrap-bgr-font-size;
      }

      .e-content-wrap {
        font-size: $schedule-date-month-header-wrap-bgr-font-size;
      }

      .e-m-date {
        font-size: $schedule-header-date-bgr-font-size;
      }

      .e-resource-name,
      .e-m-day {
        font-size: $schedule-header-day-bgr-font-size;
      }
    }
  }

  /*! schedule event tooltip */
  #{&}.e-schedule-event-tooltip .e-subject {
    font-size: 12px;
  }

  .e-bigger #{&}.e-schedule-event-tooltip,
  &#{&}.e-schedule-event-tooltip.e-bigger {
    .e-subject {
      font-size: 14px;
      font-weight: 500;
    }
  }

  #{&}.e-dialog.e-quick-dialog {
    user-select: none;
    width: 320px;

    .e-disable {
      display: none;
    }

    .e-quick-dialog-cancel {
      box-shadow: none;
    }

    &.e-rtl {
      text-align: right;
    }
  }

  .e-bigger #{&}.e-dialog.e-quick-dialog {
    min-width: 370px;
  }

  /*! schedule event window */

  .e-schedule-dialog {
    .e-disable {
      display: none;
    }

    .e-icon-disable {
      opacity: .5;
    }

    .e-dlg-header-content {
      padding-bottom: 8px;
    }

    .e-dlg-content {
      padding-bottom: 12px;
      position: relative;
    }

    .e-event-delete {
      float: left;
    }

    .e-subject-container,
    .e-start-container,
    .e-start-time-zone-container,
    .e-description-label {
      padding-right: 8px;
    }

    .e-location-container,
    .e-end-container,
    .e-end-time-zone-container {
      padding-left: 8px;
    }

    .e-all-day-container {
      padding-right: 16px;
    }

    .e-time-zone-row {
      display: flex;
      height: 0;
      margin-bottom: 0;
      overflow: hidden;
      padding-bottom: 0;
      transition: .3s ease-in-out;
      width: 100%;

      .e-start-time-zone-container,
      .e-end-time-zone-container {
        display: none;
        transform: translateY(-100%);
      }

      &.e-enable {
        height: $schedule-timezone-enable-nrml-height;
        margin-bottom: 12px;

        .e-start-time-zone-container,
        .e-end-time-zone-container {
          display: block;
          transform: translateY(0);
        }
      }
    }

    .e-title-location-row,
    .e-start-end-row,
    .e-start-input-container,
    .e-end-input-container {
      display: flex;
      padding-bottom: 12px;
      width: 100%;

      @if ($schedule-skin == 'bootstrap4') {
        padding-bottom: 14px;
      }
    }

    .e-resources {
      padding-bottom: 12px;
      width: 100%;
    }

    .e-all-day-time-zone-row {
      display: flex;
      padding-bottom: 14px;
      padding-top: 8px;
      width: 100%;

      @if ($schedule-skin == 'bootstrap4') {
        padding-top: 0;
      }
    }

    .e-subject-container,
    .e-location-container,
    .e-start-container,
    .e-end-container,
    .e-start-time-zone-container,
    .e-end-time-zone-container {
      width: 50%;
    }

    .e-description,
    .e-float-input .e-description {
      height: 50px;
      resize: vertical;
    }

    .e-repeat-container,
    .e-input-group .e-input-group-icon.e-icon-disable {
      display: none;
    }

    .e-footer-content {
      margin-top: 4px;
    }

    &.e-rtl {
      text-align: right;

      .e-all-day-container {
        margin-left: 16px;
        margin-right: 0;
      }

      .e-subject-container,
      .e-start-container,
      .e-start-time-zone-container,
      .e-description-label {
        padding-left: 8px;
        padding-right: 0;
      }

      .e-location-container,
      .e-end-container,
      .e-end-time-zone-container {
        padding-left: 0;
        padding-right: 8px;
      }

      .e-event-delete {
        float: right;
      }
    }
   }

  .e-ddl.e-popup {
    .e-resource-template {
      display: flex;
      padding: 0 10px;
      text-indent: 10px;

      .e-resource-color {
        height: 15px;
        margin-top: 10px;
        width: 15px;
      }
    }
  }

  .e-bigger {
    .e-ddl.e-popup .e-resource-template {
      padding: 0 15px;

      .e-resource-color {
        margin-top: 15px;
      }
    }

    .e-schedule-dialog {
      .e-disable {
        display: none;
      }

      .e-dlg-header-content {
        padding-bottom: 8px;
      }

      .e-dlg-content {
        padding-bottom: 12px;
        position: relative;
      }

      .e-event-cancel,
      .e-event-delete {
        border: $schedule-popup-btn-border;
        box-shadow: none;
      }

      .e-footer-content .e-btn.e-event-delete {
        float: left;
        margin-left: 0;
      }

      .e-subject-container,
      .e-start-container,
      .e-start-time-zone-container,
      .e-description-label {
        padding-right: 12px;
      }

      .e-location-container,
      .e-end-container,
      .e-end-time-zone-container {
        padding-left: 12px;
      }

      .e-all-day-container {
        padding-right: 16px;
      }

      .e-time-zone-row {
        display: none;

        &.e-enable {
          display: flex;
          height: $schedule-timezone-enable-bgr-height;
        }
      }

      .e-title-location-row,
      .e-start-end-row,
      .e-start-input-container,
      .e-end-input-container,
      .e-time-zone-row {
        display: flex;
        padding-bottom: 12px;
        width: 100%;

        @if ($schedule-skin == 'bootstrap4') {
          padding-bottom: 16px;
        }
      }

      .e-resources {
        padding-bottom: 12px;
        width: 100%;
      }

      .e-all-day-time-zone-row {
        display: flex;
        padding-bottom: 20px;
        padding-top: 0;
        width: 100%;
      }

      .e-subject-container,
      .e-location-container,
      .e-start-container,
      .e-end-container,
      .e-start-time-zone-container,
      .e-end-time-zone-container {
        width: 50%;
      }

      .e-location-container,
      .e-end-container,
      .e-end-time-zone-container,
      .e-start-container,
      .e-start-time-zone-container,
      .e-subject-container,
      .e-description-row,
      .e-repeat-container {
        padding-top: 0;
      }

      .e-all-day-time-zone-row {
        padding-bottom: 16px;
        padding-top: 10px;

        @if ($schedule-skin == 'bootstrap4') {
          padding-top: 0;
        }
      }

      .e-description,
      .e-float-input .e-description {
        height: 50px;
        resize: vertical;
      }

      .e-time-zone-row,
      .e-repeat-container,
      .e-input-group .e-input-group-icon.e-icon-disable {
        display: none;
      }

      .e-footer-content {
        @if ($schedule-skin == 'material') {
          padding-top: 8px;
        }

        @if ($schedule-skin == 'highcontrast' or $schedule-skin == 'fabric') {
          padding-right: 26px;
        }
      }

      &.e-rtl {
        .e-all-day-container {
          margin-left: 20px;
          margin-right: 0;
        }

        .e-subject-container,
        .e-start-container,
        .e-start-time-zone-container,
        .e-description-label {
          padding-left: 12px;
          padding-right: 0;
        }

        .e-location-container,
        .e-end-container,
        .e-end-time-zone-container {
          padding-left: 0;
          padding-right: 12px;
        }

        .e-event-delete {
          float: right;
        }
      }
    }
  }

  .e-schedule-dialog.e-device {
    .e-dlg-header {
      width: 100%;
    }

    .e-dlg-header-content {
      background: $schedule-content-bg-color;
      box-shadow: $schedule-tbar-box-shadow;
      margin-bottom: $schedule-tbar-box-shadow-bottom-margin;
    }

    .e-title-location-row,
    .e-start-end-row,
    .e-time-zone-row,
    .e-start-input-container,
    .e-end-input-container {
      display: inline;
    }

    .e-time-zone-row {
      &.e-enable {
        display: inline;
      }
    }

    .e-subject-container,
    .e-location-container,
    .e-start-container,
    .e-end-container,
    .e-start-time-zone-container,
    .e-end-time-zone-container {
      padding-left: 0;
      width: 100%;
    }

    .e-subject-container,
    .e-start-container,
    .e-start-time-zone-container,
    .e-description-label {
      padding-right: 0;
    }

    .e-location-container,
    .e-end-container,
    .e-end-time-zone-container,
    .e-start-container,
    .e-start-time-zone-container,
    .e-subject-container,
    .e-description-row,
    .e-repeat-container {
      padding-top: 20px;
    }

    .e-all-day-time-zone-row {
      padding-top: 20px;

      @if ($schedule-skin == 'bootstrap4') {
        padding-top: 0;
      }
    }

    .e-resources {
      padding-bottom: 0;
      padding-top: 20px;
    }

    .e-description,
    .e-float-input .e-description {
      height: 60px;
      resize: vertical;
    }

    .e-all-day-time-zone-row {
      margin-top: 0;
      padding-bottom: 0;
    }

    .e-repeat-parent-row {
      padding-top: 8px;
    }

    .e-all-day-container {
      margin-right: 20px;
    }

    .e-title-header {
      display: flex;
      width: 100%;
    }

    .e-save-icon,
    .e-back-icon,
    .e-forward-icon {
      cursor: pointer;
      line-height: normal;
    }

    .e-save-icon {
      text-align: right;
    }

    .e-time-zone-row,
    .e-input-group .e-input-group-icon.e-icon-disable {
      display: none;
    }

    .e-repeat-container {
      display: block;
    }

    .e-icon-down-arrow {
      font-size: $schedule-tbar-down-arrow-font-size;
    }

    &.e-rtl {
      .e-save-icon {
        text-align: left;
      }

      .e-all-day-container {
        margin-left: 20px;
        margin-right: 0;
      }

      .e-subject-container,
      .e-start-container,
      .e-start-time-zone-container,
      .e-description-label {
        padding-left: 0;
      }

      .e-location-container,
      .e-end-container,
      .e-end-time-zone-container,
      .e-all-day-container {
        padding-right: 0;
        }
    }

    .e-recurrence-container {
      position: relative;

      &.e-hide {
        display: none;
      }

      .e-recurrence-edit-button {
        background: none;
        border: 0;
        box-shadow: none;
        margin: -3px 5px;
        position: absolute;

        .e-recurrence-edit.e-icons {
          font-size: 12px;
          position: relative;
          top: 1px;
        }
      }
    }
  }

  /*! schedule quick popup */
  .e-quick-popup-wrapper {
    background-color: $schedule-popup-bg-color;
    border-radius: 2px;
    box-shadow: $schedule-popup-box-shadow-1, $schedule-popup-box-shadow-2, $schedule-popup-box-shadow-3;
    color: $schedule-primary-content-font-color;
    max-width: 365px;
    min-width: 320px;
    opacity: 1;
    user-select: none;
    width: 100%;

    @if ($schedule-skin != 'material') {
      border: 1px solid $schedule-popup-border-color;
    }
    @if ($schedule-skin != 'material') {
      box-shadow: none;
    }

    @if ($schedule-skin == 'bootstrap4') {
      border-radius: 6px;
    }

    .e-hidden {
      display: none;
    }

    .e-cell-popup {
      .e-popup-header .e-header-icon-wrapper {
        position: absolute;
        right: 6px;
        top: 4px;
        @if ($schedule-skin == 'bootstrap4') {
          padding: 2px 8px 0 0;
        }

        .e-edit,
        .e-delete,
        .e-close {
          color: $schedule-popup-icon-color;
          @if ($schedule-skin == 'bootstrap4') {
            opacity: .5;
          }

          &:focus,
          &:hover {
            @if ($schedule-skin != 'bootstrap4') {
              background: $schedule-popup-icon-hover-bg-color;
            }
            color: $schedule-popup-icon-hover-color;
            @if ($schedule-skin == 'bootstrap4') {
              color: $schedule-popup-header-icon-color;
              opacity: .75;
            }
          }

          .e-close-icon {
            font-size: 11px;

            @if ($schedule-skin == 'bootstrap4') {
              font-size: 14px;
            }
          }
        }
      }

      .e-popup-content {
        padding: $schedule-popup-content-padding;

        .e-popup-table {
          width: 100%;

          .e-schedule-form > span {
            margin-bottom: 4px;

            @if ($schedule-skin == 'material') {
              margin-bottom: 8px;
            }

            @if ($schedule-skin == 'bootstrap4') {
              margin-top: 14px;
            }
          }

          .e-subject {
            font-size: 22px;

            @if ($schedule-skin != 'material') {
              height: 40px;
            }
          }
        }
      }
    }

    .e-event-popup {
      .e-popup-header {
        @if ($schedule-skin == 'material') {
          background-color: $schedule-appointment-bg-color;
        }

        .e-header-icon-wrapper {
          padding: $schedule-event-popup-header-icon-padding;

          .e-edit,
          .e-delete {
            display: none;

            @if ($schedule-skin == 'material') {
              display: block;
            }
          }

          .e-close {
            @if ($schedule-skin != 'material') {
              position: relative;
              right: 2px;
            }
          }

          .e-edit,
          .e-delete,
          .e-close {
            color: $schedule-popup-header-icon-color;
            @if ($schedule-skin == 'bootstrap4') {
              opacity: .5;
            }

            &:focus,
            &:hover {
              @if ($schedule-skin != 'bootstrap4') {
                background: $schedule-popup-header-icon-hover-bg-color;
              }
              color: $schedule-popup-header-icon-hover-color;
              @if ($schedule-skin == 'bootstrap4') {
                color: $schedule-popup-header-icon-color;
                opacity: .75;
              }
            }
          }

          .e-edit-icon,
          .e-delete-icon,
          .e-close-icon {
            font-size: 11px;
            @if ($schedule-skin == 'bootstrap4') {
              font-size: 14px;
            }
          }

          .e-edit:disabled,
          .e-delete:disabled {
            &:hover {
              background: none;
            }

            > .e-edit-icon,
            > .e-delete-icon {
              opacity: .5;
            }
          }
        }

        .e-subject-wrap {
          padding: $schedule-event-popup-subject-padding;

          .e-subject {
            cursor: default;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.5;
            max-height: 87px;

            @if ($schedule-skin == 'material' or $schedule-skin == 'highcontrast') {
              color: $schedule-appointment-font-color;
            }

            @if ($schedule-skin != 'material') {
              background-color: $schedule-popup-title-color;
              border-left: 6px solid $schedule-appointment-bg-color;
              padding: 8px 0 8px 10px;
            }

            @if ($schedule-skin == 'bootstrap4') {
              border-radius: 4px;
              padding: 8px;
              }
          }
        }
      }

      .e-popup-content {
        padding: $schedule-event-popup-content-padding;
      }
    }

    .e-cell-popup,
    .e-event-popup {
      .e-header-icon-wrapper {
        display: flex;
        justify-content: flex-end;

        .e-edit,
        .e-delete,
        .e-close {
          background-color: transparent;
          border: 0;
        }
      }

      .e-date-time,
      .e-location,
      .e-time-zone,
      .e-description,
      .e-resource {
        color: $schedule-primary-content-font-color;
        display: flex;
        padding-top: $schedule-event-popup-fields-padding;
      }

      .e-date-time-icon,
      .e-location-icon,
      .e-time-zone-icon,
      .e-description-icon,
      .e-resource-icon {
        color: $schedule-popup-content-icon-color;
        font-size: 18px;
        padding-right: 13px;

        @if ($schedule-skin == 'highcontrast' or $schedule-skin == 'fabric') {
          padding-top: 4px;
        }
        @if ($schedule-skin == 'bootstrap4') {
          font-size: 16px;
          padding: 2px 10px 0 0;
        }
      }

      .e-date-time-details,
      .e-location-details,
      .e-time-zone-details,
      .e-description-details,
      .e-resource-details {
        color: $schedule-primary-content-font-color;
        cursor: default;
        font-size: 14px;
      }
    }

    .e-popup-table td:last-child {
      padding-top: 0;
    }

    .e-popup-footer {
      display: block;
      padding: $schedule-popup-footer-padding;
      text-align: right;

      @if ($schedule-skin == 'material') {
        padding-right: 4px;
      }

      .e-event-edit {
        margin-right: 8px;
      }

      .e-event-edit,
      .e-event-delete {
        right: auto;

        @if ($schedule-skin == 'highcontrast') {
          margin-right: 2px;
        }

        &:disabled {
          color: $schedule-disable-font-color;
        }
      }

      .e-event-details {
        border: $schedule-popup-btn-border;
        margin-right: 8px;
        right: auto;
        text-transform: uppercase;
      }
    }

    .e-event-popup .e-popup-footer {
      @if ($schedule-skin == 'material') {
        display: none;
      }
    }

    &.e-rtl {
      text-align: right;

      .e-cell-popup {
        .e-header-icon-wrapper {
          left: 6px;
          right: auto;
        }

        .e-popup-footer {
          padding: 8px 18px 8px 8px;
          text-align: left;
        }
      }

      .e-popup-content {
        .e-date-time-wrapper,
        .e-location-details,
        .e-time-zone-details,
        .e-description-details,
        .e-resource-details {
          margin-right: 10px;
        }
      }
      @if ($schedule-skin == 'bootstrap4') {
        .e-popup-footer {
          padding: 8px 8px 8px 18px;
        }

        .e-date-time-icon {
          padding: 0 0 0 13px;
        }

        .e-event-popup {
          .e-date-time-icon {
            padding: 0 13px;
          }
        }

        .e-event-details {
          margin-left: 8px;
        }

        .e-event-edit {
          margin-left: 8px;
        }
      }
    }

    &.e-device {
      bottom: 0;
      height: 100%;
      left: 0;
      margin: 0;
      max-width: 100%;
      overflow: hidden;
      padding: 0;
      right: 0;
      top: 0;
      width: 100%;

      @if ($schedule-skin == 'highcontrast') {
        background-color: $schedule-tbar-default-bg;
      }

      .e-event-popup .e-popup-header {
        .e-header-icon-wrapper {
          @if ($schedule-skin != 'material') {
            background-color: $schedule-content-bg-color;
          }
        }

        .e-header-icon-wrapper .e-edit,
        .e-header-icon-wrapper .e-delete,
        .e-header-icon-wrapper .e-close {
          &:focus,
          &:hover {
            background: none;
          }
          @if ($schedule-skin == 'bootstrap4') {
            opacity: 1;
          }
        }

        .e-edit.e-btn.e-small.e-round,
        .e-delete.e-btn.e-small.e-round,
        .e-close.e-btn.e-small.e-round {
          @if ($schedule-skin != 'material') {
            height: 2.5em;
            width: 2.5em;
          }
        }

        .e-edit,
        .e-delete {
          display: block;
        }

        .e-close {
          margin-left: 0;
          margin-right: auto;
          order: -1;
        }

        .e-subject-wrap {
          padding: 12px 24px;

          @if ($schedule-skin == 'material') {
            padding: 24px;
          }
        }
      }

      .e-event-popup .e-popup-content {
        padding: 12px 24px;
      }

      .e-multiple-event-popup .e-popup-header {
        display: flex;
        padding: 15px;

        .e-close,
        .e-edit,
        .e-delete {
          @if ($schedule-skin != 'bootstrap4') {
            background-color: transparent;
          }
          border: 0;
          height: 40px;
          width: 40px;

          &:focus,
          &:hover {
            background: none;
          }

          @if ($schedule-skin == 'bootstrap4') {
            background-color: $schedule-header-bg-color;
            color: $schedule-popup-header-icon-color;
          }
        }

        .e-subject {
          font-size: 15px;
          font-weight: 500;
          height: 40px;
          line-height: 2.25;
          padding: 4px 5px;
          width: calc(100% - 95px);
        }

        .e-close-icon,
        .e-edit-icon,
        .e-delete-icon {
          font-size: 14px;
        }
      }

      &.e-rtl {
        .e-event-popup .e-popup-header {
          .e-close {
            margin-left: auto;
            margin-right: 0;
          }
        }
      }
    }
  }

  .e-bigger .e-quick-popup-wrapper {
    .e-cell-popup .e-popup-content .e-popup-table .e-subject {
      font-size: 24px;
    }

    @if ($schedule-skin == 'bootstrap4') {
      .e-cell-popup .e-popup-content {
        padding: 30px 16px;
      }

      .e-popup-footer {
        padding: 0 16px 16px 0;
      }

      .e-cell-popup .e-date-time-icon,
      .e-event-popup .e-date-time-icon {
        padding-right: 10px;
      }

      .e-cell-popup .e-popup-header .e-header-icon-wrapper .e-close .e-close-icon {
        font-size: 16px;
      }

      &.e-rtl {
        .e-cell-popup .e-date-time-icon {
          padding-right: 0;
        }

        .e-event-popup .e-date-time-icon {
          padding-right: 13px;
        }
      }
    }

    .e-edit.e-btn.e-small.e-round,
    .e-delete.e-btn.e-small.e-round,
    .e-close.e-btn.e-small.e-round {
      @if ($schedule-skin != 'material') {
        height: 2em;
        width: 2em;
      }
    }

    .e-event-popup .e-popup-header .e-header-icon-wrapper {
      .e-close-icon,
      .e-edit-icon,
      .e-delete-icon {
        font-size: 14px;
      }
    }

    &.e-device {
      .e-event-popup .e-popup-header .e-header-icon-wrapper {
        .e-close-icon,
        .e-edit-icon,
        .e-delete-icon {
          font-size: 14px;
        }
      }

      .e-multiple-event-popup .e-popup-header {
        .e-subject {
          padding: 0 5px 0 8px;
          @if ($schedule-skin == 'material') {
            padding: 5px 5px 0 8px;
          }
        }
      }
    }
  }

  @if ($schedule-skin == 'bootstrap4') {
    .e-bigger .e-more-popup-wrapper {
      padding: 12px 2px 16px;
    }
  }

  .e-bigger .e-agenda-view {
    @if ($schedule-skin == 'bootstrap4') {
      .e-subject {
        font-size: 16px;
      }

      .e-date-time {
        font-size: 14px;
      }

      .e-day-date-header {
        .e-m-date {
          font-size: 20px;
        }

        .e-m-day {
          font-size: 14px;
        }
      }
    }
  }

  .e-bigger .e-timeline-view {

    @if ($schedule-skin == 'bootstrap4') {
      .e-resource-cells {
        padding: 14px 0 14px 12px;
      }

      .e-resource-text {
        font-size: 14px;
        padding-left: 12px;
      }

      .e-navigate {
        font-size: $schedule-date-header-wrap-bgr-font-size;
        padding: 8px 0 8px 8px;
      }

      .e-date-header-wrap table tbody td > span {
        font-size: $schedule-date-header-wrap-bgr-font-size;
        padding: 8px 0 8px 8px;
      }
    }
  }

  .e-appointment.e-schedule-event-clone {
    background: $schedule-appointment-bg-color;
    border-radius: $schedule-appointment-border-radius;
    box-shadow: $schedule-event-box-shadow-1, $schedule-event-box-shadow-2, $schedule-event-box-shadow-3;
    color: $schedule-appointment-font-color;
    display: flex;
    height: 38px;
    width: 100px;
    z-index: 9;

    &.e-drag-clone {
      cursor: move;
    }

    .e-recurrence-icon,
    .e-recurrence-edit-icon,
    .e-left-icon,
    .e-right-icon,
    .e-event-resize.e-left-handler,
    .e-event-resize.e-right-handler {
      display: none;
    }

    .e-appointment-details {
      flex: auto;
      overflow: hidden;
      padding: 0 4px;
      text-align: left;

      .e-inner-wrap {
        flex: auto;
        overflow: hidden;
      }

      .e-subject {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.2;
        margin-left: auto;
        min-height: 18px;
        overflow: hidden;
        padding-top: 4px;
        text-overflow: ellipsis;
      }

      .e-time {
        font-size: 11px;
        overflow: hidden;
        padding-top: 1px;
        text-overflow: ellipsis;
      }

      .e-location {
        display: none;
      }
    }

    &.e-month-event {
      .e-appointment-details {
        .e-subject {
          padding: 3px 2px;
        }

        .e-time {
          display: none;
        }
      }
    }
}

  .e-vertical-view .e-all-day-appointment-wrapper .e-appointment.e-schedule-event-clone {
    .e-appointment-details {
      .e-subject {
        padding: 3px 0 1px 4px;
      }

      .e-time {
        display: none;
      }
    }
  }

  .e-bigger .e-schedule .e-month-view .e-current-date .e-date-header {
    width: 26px;
  }
}
